body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  background-color: hsl(30, 38%, 92%);
}

h2 {
  font-family: 'Fraunces', serif;
  font-weight: 700;
}

p {
  font-size: 14px;
  font-weight: 500;
  color: hsl(228, 12%, 48%);
}

span {
  color: hsl(158, 36%, 37%);
  font-weight: 700;
}

button {
  background-color: hsl(158, 36%, 37%);
}

.photologo {
  width: 100%;
  height: 45vh;
  object-fit: cover;
}
